body {
  background-color: #ededed;
  background-image: url("https://w0.peakpx.com/wallpaper/515/944/HD-wallpaper-plain-blue-purple-shades-purple-aesthetic.jpg");
  background-repeat: no-repeat;
  background-position: fixed;
  background-size: cover;
}
.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
